dist/
node_modules/
packages/**/src/**/*.d.ts
packages/**/src/**/*.js
packages/**/src/**/*.map
packages/**/out-tsc
example/**/*.d.ts
example/**/*.js
example/**/*.map

yarn.lock

# Tests
.nyc_output/
coverage/
