*.log
*.pem
*.pub

dist/
node_modules/
packages/**/src/**/*.d.ts
packages/**/src/**/*.js
packages/**/src/**/*.map
packages/**/out-tsc
examples/agency
examples/**/*.d.ts
examples/**/*.js
examples/**/*.map
examples/**/node_modules

yarn.lock

# Tests
.nyc_output/
coverage/
test/**/*.d.ts
test/**/*.js
test/**/*.js.map

# Documentation
doc/

__*
